{% extends 'main/base.html' %}
{% block 'content' %}
<div class="container">
{% if msg_success %}
<div class="alert alert-success" role="alert">
  Sukces! Udało się dodać książkę do bazy biblioteki.
</div>
{% endif %}
{% if msg_error %}
<div class="alert alert-danger" role="alert">
  Nie udało się dodać książki do bazy biblioteki z powodu: {{msg_error}}
</div>
{% endif %}
<h4> Dodaj nową ksiązkę do bazy biblioteki wypełniając poniższy formularz</h4>
    <div class="mb-3">
        <form method="post">
            <input class="form-control" type="text" name="title" placeholder="Tytuł książki" aria-label="default input example" required>
            <input class="form-control" type="text" name="author" placeholder="Autor" aria-label="default input example" required>
            <input class="form-control" type="text" name="isbn" placeholder="ISBN" aria-label="default input example" required>
            <input class="form-control" type="text" name="year" placeholder="Rok wydania książki" aria-label="default input example" required>
            <button class="btn btn-primary" type="submit">Zapisz</button>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}